@{
    ViewData["Title"] = "About";
}
<h1>Scott McCaffrey</h1>

<address>
    135 Pray Rd<br />
    Pray, MT 59065
</address>

<address>
    <strong>Email:</strong> <a href="mailto:mccaffrey.scott@gmail.com">mccaffrey.scott@gmail.com</a><br />
    <strong>Phone: </strong> (978) 831 - 7098 <br />
</address>
